data/flows.json
[
    {
        "id": "3e89576f4214a9fa",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84335037.da5f6",
        "type": "tab",
        "label": "Kill Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0b5322d72aa242a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-template"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "2575dfcf01077338",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "13684f6be5132069",
        "type": "ui-page",
        "name": "Neues Projekt",
        "ui": "c0b5322d72aa242a",
        "path": "/create-project",
        "icon": "form-textbox",
        "layout": "grid",
        "theme": "2575dfcf01077338",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4c4b06e9b7aaf5db",
        "type": "ui-page",
        "name": "Liste",
        "ui": "c0b5322d72aa242a",
        "path": "/list",
        "icon": "view-list",
        "layout": "grid",
        "theme": "2575dfcf01077338",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a8134f143c6e83c1",
        "type": "ui-page",
        "name": "Tests",
        "ui": "c0b5322d72aa242a",
        "path": "/tests",
        "icon": "home",
        "layout": "grid",
        "theme": "2575dfcf01077338",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": false,
        "disabled": false
    },
    {
        "id": "1211677427ceda2c",
        "type": "ui-group",
        "name": "Eingabefeld",
        "page": "13684f6be5132069",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d53b4bfc21f611f9",
        "type": "ui-group",
        "name": "Projektliste",
        "page": "4c4b06e9b7aaf5db",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a98d76e6c715903e",
        "type": "ui-group",
        "name": "Tests",
        "page": "a8134f143c6e83c1",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a3caabdf7d97d8b0",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "a1eaf76306a30906",
        "type": "change",
        "z": "3e89576f4214a9fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hat geklappt!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "6647d94d8deb1905"
            ]
        ]
    },
    {
        "id": "3083918d3a6c1a83",
        "type": "function",
        "z": "3e89576f4214a9fa",
        "name": "store new project",
        "func": "const project = global.get(\"project\")||[]\n\nconst schritte = msg.payload.SchritteString\nconst arr = schritte.includes(',')? schritte?.split(',') : schritte? [schritte] : [msg.payload.projektname]\n\nfor (let i = 0; i < arr.length; i++) {\n    const element = arr[i];\n\n    const obj = {\n        \"title\": element,\n        \"done\": false,\n    };\n\n    arr[i] = obj;\n}\n\n\n\nproject.push({\n    ...msg.payload,\n    \"progress\":0,\n    \"subtasks\":arr,\n})\n\nglobal.set(\"project\",project)\n\nnode.send({payload: \"\"});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "ba60cb4eb08b0faf"
            ]
        ]
    },
    {
        "id": "b52b27beabbdf1ab",
        "type": "change",
        "z": "3e89576f4214a9fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "project",
                "tot": "global"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "35f72db0baa87414",
                "1311aec49ec485ab"
            ]
        ]
    },
    {
        "id": "9a068c9bcc1fe724",
        "type": "file",
        "z": "3e89576f4214a9fa",
        "name": "project.json",
        "filename": "../data/project.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1010,
        "y": 400,
        "wires": [
            [
                "96e884f03bf09adc"
            ]
        ]
    },
    {
        "id": "c7aa918429e149c0",
        "type": "inject",
        "z": "3e89576f4214a9fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "d6630caae65582bc"
            ]
        ]
    },
    {
        "id": "d6630caae65582bc",
        "type": "file in",
        "z": "3e89576f4214a9fa",
        "name": "project.json",
        "filename": "../data/project.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "58afe52e78e6d1f0"
            ]
        ]
    },
    {
        "id": "6665c920368f92f2",
        "type": "inject",
        "z": "3e89576f4214a9fa",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"Projektname\":\"Einkaufen\",\"Beschreibung\":\"Lebensmittel holen\",\"Fortschritt\":40,\"subtasks\":[{\"title\":\"Milch\",\"done\":true},{\"title\":\"Brot\",\"done\":false}]},{\"Projektname\":\"Hausaufgaben\",\"Beschreibung\":\"Bis morgen\",\"Fortschritt\":70,\"subtasks\":[{\"title\":\"Mathe\",\"done\":true},{\"title\":\"Deutsch\",\"done\":false}]}]",
        "payloadType": "json",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "9438c96999473623"
            ]
        ]
    },
    {
        "id": "64bbd57425177241",
        "type": "comment",
        "z": "3e89576f4214a9fa",
        "name": "",
        "info": "https://github.com/vuetifyjs/vuetify/blob/1d34a8375917f47df76caa33e9625094983cff81/packages/docs/src/examples/v-data-table/misc-expand.vue\n\ndiese goats man, geil sind die\n\n\nder mehr oder wenig zufääilge Bug-Report hat mir sehr gehofeln geilo\nhttps://github.com/vuetifyjs/vuetify/issues/18485",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "58afe52e78e6d1f0",
        "type": "json",
        "z": "3e89576f4214a9fa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "a7497067586f54ae"
            ]
        ]
    },
    {
        "id": "1a9c6003351e4240",
        "type": "function",
        "z": "3e89576f4214a9fa",
        "name": "store in global",
        "func": "let project = global.get(\"project\")||[]\n\nproject = msg.payload;\n\nglobal.set(\"project\",project)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "9a068c9bcc1fe724"
            ]
        ]
    },
    {
        "id": "ba60cb4eb08b0faf",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "96e884f03bf09adc",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "a7497067586f54ae",
        "type": "function",
        "z": "3e89576f4214a9fa",
        "name": "store in global",
        "func": "let project = global.get(\"project\")||[]\n\nproject = msg.payload;\n\nglobal.set(\"project\",project)\n\nnode.send({payload: \"\"});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "1b3c21dc309c89df"
            ]
        ]
    },
    {
        "id": "3340a90c07300f20",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 440,
        "wires": []
    },
    {
        "id": "1311aec49ec485ab",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "7c06af0f84cc6d07",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "f5fd3c80dc5f0629",
        "type": "debug",
        "z": "3e89576f4214a9fa",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "1c62d002b374b12e",
        "type": "ui-form",
        "z": "3e89576f4214a9fa",
        "name": "",
        "group": "1211677427ceda2c",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "6",
        "options": [
            {
                "label": "Projektname",
                "key": "projektname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Beschreibung",
                "key": "beschreibung",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Schritte mit \",\" trennen",
                "key": "SchritteString",
                "type": "multiline",
                "required": false,
                "rows": 3
            }
        ],
        "formValue": {
            "projektname": "",
            "beschreibung": "",
            "SchritteString": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a3caabdf7d97d8b0",
                "a1eaf76306a30906",
                "3083918d3a6c1a83"
            ]
        ]
    },
    {
        "id": "1b5988e58078c76b",
        "type": "ui-button",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "name": "",
        "label": "button",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[{\"room\":\"Living Room\",\"id\":\"1234\",\"target\":18.1,\"current\":20},{\"room\":\"Bathroom Room\",\"id\":\"5678\",\"target\":19.5,\"current\":18},{\"room\":\"Kitchen Room\",\"id\":\"9101\",\"target\":18.1,\"current\":17.6}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "8e207b89142ebb21"
            ]
        ]
    },
    {
        "id": "6647d94d8deb1905",
        "type": "ui-notification",
        "z": "3e89576f4214a9fa",
        "ui": "c0b5322d72aa242a",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "615908ec9cda1565",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "Chat",
        "order": 6,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-container>\n    <v-data-table\n      :headers= '[\n        { text: \"Aufgabe\", value: \"title\" },\n        { text: \"Fortschritt\", value: \"progress\" }\n      ]'\n      :items=\"tasks\"\n      show-expand\n      item-value=\"title\"\n      :expanded.sync=\"expanded\"\n      class=\"elevation-1\"\n    >\n      <!-- Fortschritt -->\n      <template v-slot:item.progress=\"{ item }\">\n        <v-progress-linear\n          :value=\"getProgress(item)\"\n          height=\"20\"\n          color=\"green\"\n          striped\n          rounded\n        >\n          <strong>{{ getProgress(item) }}%</strong>\n        </v-progress-linear>\n      </template>\n\n      <!-- Subtasks sichtbar beim Aufklappen -->\n      <template v-slot:expanded-row=\"{ columns, item }\">\n        <td :colspan=\"columns.length\">\n          <ul>\n            <li v-for=\"(sub, index) in item.subtasks\" :key=\"index\">\n              <v-checkbox v-model=\"sub.done\" :label=\"sub.title\"></v-checkbox>\n            </li>\n          </ul>\n        </td>\n      </template>\n    </v-data-table>\n  </v-container>\n</template>\n\n<script>\nexport default {\n  data () {\n    return {\n      expanded: [],\n      tasks: [\n        {\n          title: \"Einkaufen\",\n          subtasks: [\n            { title: \"Milch\", done: true },\n            { title: \"Brot\", done: false },\n            { title: \"Käse\", done: false }\n          ]\n        },\n        {\n          title: \"Hausaufgaben\",\n          subtasks: [\n            { title: \"Mathe\", done: true },\n            { title: \"Deutsch\", done: true },\n            { title: \"Englisch\", done: false }\n          ]\n        }\n      ]\n    }\n  },\n  methods: {\n    getProgress(task) {\n      if (!task.subtasks || task.subtasks.length === 0) return 0;\n      const done = task.subtasks.filter(s => s.done).length;\n      return Math.round((done / task.subtasks.length) * 100);\n    }\n  }\n}\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 290,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "35f72db0baa87414",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "group": "d53b4bfc21f611f9",
        "page": "",
        "ui": "",
        "name": "Meine Projekte",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n    <v-text-field \n    v-model=\"search\" \n    label=\"Search\" \n    prepend-inner-icon=\"mdi-magnify\" \n    single-line \n    variant=\"outlined\"\n    hide-details\n    >\n    </v-text-field>\n\n  <v-data-table\n  v-model=\"selected\"\n  v-model:expanded=\"expanded\"\n  v-model:search=\"search\"\n  :headers=\"tasks\"\n  :items=\"projects\"\n  item-value=\"projektname\"\n  show-expand\n  show-select\n  @change=\"sendProgress\"\n  >\n  <template v-slot:top>\n    <v-toolbar flat>  \n      <v-btn class=\"me-2\" prepend-icon=\"mdi-delete\" rounded=\"lg\" text=\"Auswahl löschen\" border @click=\"handleClick\"></v-btn>\n    </v-toolbar>\n  </template>\n\n    <!-- Fortschritt -->\n    <template v-slot:item.progress=\"{ item }\">\n      <v-progress-linear\n        :model-value=\"item.progress\"\n        height=\"20\"\n        color=\"primary\"\n        max=100\n        rounded\n      >\n        <strong>{{ item.progress }}%</strong>\n      </v-progress-linear>\n    </template>\n\n    <template v-slot:item.actions=\"{ item }\">\n      <v-btn icon=\"mdi-pencil\" @click=\"editItem(item)\"></v-btn>\n    </template>\n\n\n    <!-- Subtasks sichtbar beim Aufklappen -->\n    <template v-slot:expanded-row=\"{ columns, item }\">\n      <td :colspan=\"columns.length\">\n        <ul>\n          <li v-for=\"(sub, index) in item.subtasks\" :key=\"index\">\n            <v-checkbox @update:modelValue=\"$emit('sendProgress')\" v-model=\"sub.done\" :label=\"sub.title\"></v-checkbox>\n          </li>\n        </ul>\n      </td>\n    </template>\n\n    </v-data-table>\n\n\n    <v-dialog v-model=\"dialog\" max-width=\"600px\">\n    <v-card>\n      <v-card-title>\n        <span class=\"text-h6\">Projekt bearbeiten</span>\n      </v-card-title>\n\n      <v-card-text>\n        <v-text-field v-model=\"editedItem.projektname\" label=\"Projektname\"></v-text-field>\n        <v-text-field v-model=\"editedItem.beschreibung\" label=\"Beschreibung\"></v-text-field>\n      </v-card-text>\n\n      <v-card-actions>\n        <v-spacer></v-spacer>\n        <v-btn text=\"Abbrechen\" @click=\"closeDialog\"></v-btn>\n        <v-btn color=\"primary\" text=\"Speichern\" @click=\"saveItem\"></v-btn>\n      </v-card-actions>\n    </v-card>\n    </v-dialog>\n</template>\n\n\n\n<script>\n  export default {\n    data () {\n      return {\n        search:'',\n        dialog: false,\n        editedIndex: -1,\n        editedItem: {},\n        selected: [],\n        expanded: [],\n        tasks: [\n          {title: 'Projektname', align: 'start',key: 'projektname'},\n          {title:'Beschreibung', key:'beschreibung'},\n          {title:'Fortschritt', key:'progress', value:'progress'},\n          {title:'', key: 'data-table-expand' },\n          {title: \"Bearbeiten\", align: 'end', key: \"actions\", sortable: false },\n        ],\n        projects: [],\n      }\n    },\n    watch:{\n      msg: {\n        handler(newMsg){\n          this.projects = newMsg.payload.map(task => ({\n            ...task,\n            progress: this.getProgress(task)\n          }))\n        }\n      }\n    },\n    methods: {\n      getProgress(task) {\n        if (!task.subtasks || task.subtasks.length === 0) return 0;\n        const done = task.subtasks.filter(s => s.done).length;\n        return Math.round((done / task.subtasks.length) * 100);\n      },\n      sendProgress() {\n        this.projects = this.projects.map(task => ({\n          ...task,\n          progress: this.getProgress(task)\n        }))\n\n        this.send({\n          payload: this.projects\n        });\n      },\n      deleteItem(){\n        for(var i = 0; i <this.selected.length; i++){\n          const index = this.projects.map(projekt => projekt.projektname).indexOf(this.selected[i]);\n          if(index >= 0) this.projects.splice(index, 1);\n        }\n        this.sendProgress();\n      },\n      handleClick(){\n        this.deleteItem();\n        this.sendProgress();\n      },\n      editItem(item) {\n        this.editedIndex = this.projects.indexOf(item)\n        this.editedItem = { ...item }\n        this.dialog = true\n      },\n      closeDialog() {\n        this.dialog = false\n        this.editedItem = {}\n        this.editedIndex = -1\n      },\n      saveItem() {\n        if (this.editedIndex > -1) {\n          Object.assign(this.projects[this.editedIndex], this.editedItem)\n        }\n        this.send({ payload: this.projects }) // Änderungen an Node-RED zurück\n        this.closeDialog()\n      },\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "1a9c6003351e4240",
                "7c06af0f84cc6d07"
            ]
        ]
    },
    {
        "id": "9438c96999473623",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "GitHub",
        "order": 7,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-data-table\n    v-model:expanded=\"expanded\"\n    :headers=\"dessertHeaders\"\n    :items=\"desserts\"\n    item-value=\"name\"\n    show-expand\n  >\n    <template v-slot:top>\n      <v-toolbar flat>\n        <v-toolbar-title>Expandable Table</v-toolbar-title>\n      </v-toolbar>\n    </template>\n    <template v-slot:expanded-row=\"{ columns, item }\">\n      <tr>\n        <td :colspan=\"columns.length\">\n          More info about {{ item.name }}\n        </td>\n      </tr>\n    </template>\n  </v-data-table>\n</template>\n\n<script setup>\n  import { ref } from 'vue'\n\n  const expanded = ref([])\n  const dessertHeaders = ref([\n    {\n      title: 'Dessert (100g serving)',\n      align: 'start',\n      sortable: false,\n      key: 'name',\n    },\n    { title: 'Calories', key: 'calories' },\n    { title: 'Fat (g)', key: 'fat' },\n    { title: 'Carbs (g)', key: 'carbs' },\n    { title: 'Protein (g)', key: 'protein' },\n    { title: 'Iron (%)', key: 'iron' },\n    { title: '', key: 'data-table-expand' },\n  ])\n  const desserts = ref([\n    {\n      name: 'Frozen Yogurt',\n      calories: 159,\n      fat: 6,\n      carbs: 24,\n      protein: 4,\n      iron: 1,\n    },\n    {\n      name: 'Ice cream sandwich',\n      calories: 237,\n      fat: 9,\n      carbs: 37,\n      protein: 4.3,\n      iron: 1,\n    },\n    {\n      name: 'Eclair',\n      calories: 262,\n      fat: 16,\n      carbs: 23,\n      protein: 6,\n      iron: 7,\n    },\n    {\n      name: 'Cupcake',\n      calories: 305,\n      fat: 3.7,\n      carbs: 67,\n      protein: 4.3,\n      iron: 8,\n    },\n    {\n      name: 'Gingerbread',\n      calories: 356,\n      fat: 16,\n      carbs: 49,\n      protein: 3.9,\n      iron: 16,\n    },\n    {\n      name: 'Jelly bean',\n      calories: 375,\n      fat: 0,\n      carbs: 94,\n      protein: 0,\n      iron: 0,\n    },\n    {\n      name: 'Lollipop',\n      calories: 392,\n      fat: 0.2,\n      carbs: 98,\n      protein: 0,\n      iron: 2,\n    },\n    {\n      name: 'Honeycomb',\n      calories: 408,\n      fat: 3.2,\n      carbs: 87,\n      protein: 6.5,\n      iron: 45,\n    },\n    {\n      name: 'Donut',\n      calories: 452,\n      fat: 25,\n      carbs: 51,\n      protein: 4.9,\n      iron: 22,\n    },\n    {\n      name: 'KitKat',\n      calories: 518,\n      fat: 26,\n      carbs: 65,\n      protein: 7,\n      iron: 6,\n    },\n  ])\n</script>\n\n<script>\n  export default {\n    data () {\n      return {\n        expanded: [],\n        dessertHeaders: [\n          {\n            title: 'Dessert (100g serving)',\n            align: 'start',\n            sortable: false,\n            key: 'name',\n          },\n          { title: 'Calories', key: 'calories' },\n          { title: 'Fat (g)', key: 'fat' },\n          { title: 'Carbs (g)', key: 'carbs' },\n          { title: 'Protein (g)', key: 'protein' },\n          { title: 'Iron (%)', key: 'iron' },\n          { title: '', key: 'data-table-expand' },\n        ],\n        desserts: [\n          {\n            name: 'Frozen Yogurt',\n            calories: 159,\n            fat: 6.0,\n            carbs: 24,\n            protein: 4.0,\n            iron: 1,\n          },\n          {\n            name: 'Ice cream sandwich',\n            calories: 237,\n            fat: 9.0,\n            carbs: 37,\n            protein: 4.3,\n            iron: 1,\n          },\n          {\n            name: 'Eclair',\n            calories: 262,\n            fat: 16.0,\n            carbs: 23,\n            protein: 6.0,\n            iron: 7,\n          },\n          {\n            name: 'Cupcake',\n            calories: 305,\n            fat: 3.7,\n            carbs: 67,\n            protein: 4.3,\n            iron: 8,\n          },\n          {\n            name: 'Gingerbread',\n            calories: 356,\n            fat: 16.0,\n            carbs: 49,\n            protein: 3.9,\n            iron: 16,\n          },\n          {\n            name: 'Jelly bean',\n            calories: 375,\n            fat: 0.0,\n            carbs: 94,\n            protein: 0.0,\n            iron: 0,\n          },\n          {\n            name: 'Lollipop',\n            calories: 392,\n            fat: 0.2,\n            carbs: 98,\n            protein: 0,\n            iron: 2,\n          },\n          {\n            name: 'Honeycomb',\n            calories: 408,\n            fat: 3.2,\n            carbs: 87,\n            protein: 6.5,\n            iron: 45,\n          },\n          {\n            name: 'Donut',\n            calories: 452,\n            fat: 25.0,\n            carbs: 51,\n            protein: 4.9,\n            iron: 22,\n          },\n          {\n            name: 'KitKat',\n            calories: 518,\n            fat: 26.0,\n            carbs: 65,\n            protein: 7,\n            iron: 6,\n          },\n        ],\n      }\n    },\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f4c0032f0a78711d",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "my small github",
        "order": 8,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-data-table\n    v-model:expanded=\"expanded\"\n    :headers=\"tasks\"\n    :items=\"test\"\n    item-value=\"name\"\n    show-expand\n  >\n    <template v-slot:top>\n      <v-toolbar flat>\n        <v-toolbar-title>Expandable Table</v-toolbar-title>\n      </v-toolbar>\n    </template>\n    <template v-slot:expanded-row=\"{ columns, item }\">\n      <tr>\n        <td :colspan=\"columns.length\">\n          More info about {{ item.name }}\n        </td>\n      </tr>\n    </template>\n  </v-data-table>\n</template>\n\n<script setup>\n  import { ref } from 'vue'\n\n  const expanded = ref([])\n  const tasks = ref([\n    {\n      title: 'Dessert (100g serving)',\n      align: 'start',\n      sortable: false,\n      key: 'name',\n    },\n    { title: 'Calories', key: 'calories' },\n    { title: 'Fat (g)', key: 'fat' },\n    { title: 'Carbs (g)', key: 'carbs' },\n    { title: 'Protein (g)', key: 'protein' },\n    { title: 'Iron (%)', key: 'iron' },\n    { title: '', key: 'data-table-expand' },\n  ])\n  const test = ref([\n    {\n      name: 'Frozen Yogurt',\n      calories: 159,\n      fat: 6,\n      carbs: 24,\n      protein: 4,\n      iron: 1,\n    },\n    {\n            name: 'Ice cream sandwich',\n            calories: 237,\n            fat: 9.0,\n            carbs: 37,\n            protein: 4.3,\n            iron: 1,\n          },\n  ])\n</script>\n\n<script>\n  export default {\n    data () {\n      return {\n        expanded: [],\n        tasks: [\n          {\n            title: 'Dessert (100g serving)',\n            align: 'start',\n            sortable: false,\n            key: 'name',\n          },\n          { title: 'Calories', key: 'calories' },\n          { title: 'Fat (g)', key: 'fat' },\n          { title: 'Carbs (g)', key: 'carbs' },\n          { title: 'Protein (g)', key: 'protein' },\n          { title: 'Iron (%)', key: 'iron' },\n          { title: '', key: 'data-table-expand' },\n        ],\n        test: [\n          {\n            name: 'Frozen Yogurt',\n            calories: 159,\n            fat: 6.0,\n            carbs: 24,\n            protein: 4.0,\n            iron: 1,\n          },\n          {\n            name: 'Ice cream sandwich',\n            calories: 237,\n            fat: 9.0,\n            carbs: 37,\n            protein: 4.3,\n            iron: 1,\n          },\n        ],\n      }\n    },\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "59e9acb5e7366e51",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "CRUD",
        "order": 5,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div>\n    <v-toolbar flat color=\"white\">\n      <v-toolbar-title>My CRUD</v-toolbar-title>\n      <v-divider\n        class=\"mx-2\"\n        inset\n        vertical\n      ></v-divider>\n      <v-spacer></v-spacer>\n      <v-dialog v-model=\"dialog\" max-width=\"500px\">\n        <template v-slot:activator=\"{ on }\">\n          <v-btn color=\"primary\" dark class=\"mb-2\" v-on=\"on\">New Item</v-btn>\n        </template>\n        <v-card>\n          <v-card-title>\n            <span class=\"headline\">{{ formTitle }}</span>\n          </v-card-title>\n\n          <v-card-text>\n            <v-container grid-list-md>\n              <v-layout wrap>\n                <v-flex xs12 sm6 md4>\n                  <v-text-field v-model=\"editedItem.name\" label=\"Dessert name\"></v-text-field>\n                </v-flex>\n                <v-flex xs12 sm6 md4>\n                  <v-text-field v-model=\"editedItem.calories\" label=\"Calories\"></v-text-field>\n                </v-flex>\n                <v-flex xs12 sm6 md4>\n                  <v-text-field v-model=\"editedItem.fat\" label=\"Fat (g)\"></v-text-field>\n                </v-flex>\n                <v-flex xs12 sm6 md4>\n                  <v-text-field v-model=\"editedItem.carbs\" label=\"Carbs (g)\"></v-text-field>\n                </v-flex>\n                <v-flex xs12 sm6 md4>\n                  <v-text-field v-model=\"editedItem.protein\" label=\"Protein (g)\"></v-text-field>\n                </v-flex>\n              </v-layout>\n            </v-container>\n          </v-card-text>\n\n          <v-card-actions>\n            <v-spacer></v-spacer>\n            <v-btn color=\"blue darken-1\" flat @click=\"close\">Cancel</v-btn>\n            <v-btn color=\"blue darken-1\" flat @click=\"save\">Save</v-btn>\n          </v-card-actions>\n        </v-card>\n      </v-dialog>\n    </v-toolbar>\n    <v-data-table\n      :headers=\"headers\"\n      :items=\"desserts\"\n      class=\"elevation-1\"\n    >\n      <template v-slot:items=\"props\">\n        <td>{{ props.item.name }}</td>\n        <td class=\"text-xs-right\">{{ props.item.calories }}</td>\n        <td class=\"text-xs-right\">{{ props.item.fat }}</td>\n        <td class=\"text-xs-right\">{{ props.item.carbs }}</td>\n        <td class=\"text-xs-right\">{{ props.item.protein }}</td>\n        <td class=\"justify-center layout px-0\">\n          <v-icon\n            small\n            class=\"mr-2\"\n            @click=\"editItem(props.item)\"\n          >\n            edit\n          </v-icon>\n          <v-icon\n            small\n            @click=\"deleteItem(props.item)\"\n          >\n            delete\n          </v-icon>\n        </td>\n      </template>\n      <template v-slot:no-data>\n        <v-btn color=\"primary\" @click=\"initialize\">Reset</v-btn>\n      </template>\n    </v-data-table>\n  </div>\n</template>\n\n<script>\n  export default {\n    data: () => ({\n      dialog: false,\n      headers: [\n        {\n          text: 'Dessert (100g serving)',\n          align: 'left',\n          sortable: false,\n          value: 'name'\n        },\n        { text: 'Calories', value: 'calories' },\n        { text: 'Fat (g)', value: 'fat' },\n        { text: 'Carbs (g)', value: 'carbs' },\n        { text: 'Protein (g)', value: 'protein' },\n        { text: 'Actions', value: 'name', sortable: false }\n      ],\n      desserts: [],\n      editedIndex: -1,\n      editedItem: {\n        name: '',\n        calories: 0,\n        fat: 0,\n        carbs: 0,\n        protein: 0\n      },\n      defaultItem: {\n        name: '',\n        calories: 0,\n        fat: 0,\n        carbs: 0,\n        protein: 0\n      }\n    }),\n\n    computed: {\n      formTitle () {\n        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'\n      }\n    },\n\n    watch: {\n      dialog (val) {\n        val || this.close()\n      }\n    },\n\n    created () {\n      this.initialize()\n    },\n\n    methods: {\n      initialize () {\n        this.desserts = [\n          {\n            name: 'Frozen Yogurt',\n            calories: 159,\n            fat: 6.0,\n            carbs: 24,\n            protein: 4.0\n          },\n          {\n            name: 'Ice cream sandwich',\n            calories: 237,\n            fat: 9.0,\n            carbs: 37,\n            protein: 4.3\n          },\n          {\n            name: 'Eclair',\n            calories: 262,\n            fat: 16.0,\n            carbs: 23,\n            protein: 6.0\n          },\n          {\n            name: 'Cupcake',\n            calories: 305,\n            fat: 3.7,\n            carbs: 67,\n            protein: 4.3\n          },\n          {\n            name: 'Gingerbread',\n            calories: 356,\n            fat: 16.0,\n            carbs: 49,\n            protein: 3.9\n          },\n          {\n            name: 'Jelly bean',\n            calories: 375,\n            fat: 0.0,\n            carbs: 94,\n            protein: 0.0\n          },\n          {\n            name: 'Lollipop',\n            calories: 392,\n            fat: 0.2,\n            carbs: 98,\n            protein: 0\n          },\n          {\n            name: 'Honeycomb',\n            calories: 408,\n            fat: 3.2,\n            carbs: 87,\n            protein: 6.5\n          },\n          {\n            name: 'Donut',\n            calories: 452,\n            fat: 25.0,\n            carbs: 51,\n            protein: 4.9\n          },\n          {\n            name: 'KitKat',\n            calories: 518,\n            fat: 26.0,\n            carbs: 65,\n            protein: 7\n          }\n        ]\n      },\n\n      editItem (item) {\n        this.editedIndex = this.desserts.indexOf(item)\n        this.editedItem = Object.assign({}, item)\n        this.dialog = true\n      },\n\n      deleteItem (item) {\n        const index = this.desserts.indexOf(item)\n        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)\n      },\n\n      close () {\n        this.dialog = false\n        setTimeout(() => {\n          this.editedItem = Object.assign({}, this.defaultItem)\n          this.editedIndex = -1\n        }, 300)\n      },\n\n      save () {\n        if (this.editedIndex > -1) {\n          Object.assign(this.desserts[this.editedIndex], this.editedItem)\n        } else {\n          this.desserts.push(this.editedItem)\n        }\n        this.close()\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 290,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8e207b89142ebb21",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "Template Progress",
        "order": 4,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <!-- Provide an input text box to search the content -->\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n    hide-details></v-text-field>\n    <v-data-table v-model:search=\"search\" :items=\"msg?.payload\">\n      <template v-slot:header.current>\n        <!-- Override how we render the header for the \"current\" column -->\n        <div class=\"text-center\">Center-Aligned</div>\n      </template>\n\n      <template v-slot:item.target=\"{ item }\">\n        <!-- Add a custom suffix to the value for the \"target\" column -->\n        {{ item.target }}°C\n      </template>\n\n      <template v-slot:item.current=\"{ item }\">\n        <!-- Render a Linear Progress Bar for the \"current\" column -->\n        <v-progress-linear v-model=\"item.current\" min=\"15\" max=\"25\" height=\"25\" :color=\"getColor(item)\">\n          <template v-slot:default=\"{ value }\">\n            <strong>{{ item.current }}°C</strong>\n          </template>\n        </v-progress-linear>\n      </template>\n    \n    </v-data-table>\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        search: ''\n      }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n      getColor: function (item) {\n        if (item.current > item.target) {\n          return 'red'\n        } else {\n          return 'green'\n        }\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 330,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "70365f93c8145e02",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "CRUD vue 3",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-sheet border rounded>\n    <v-data-table\n      :headers=\"headers\"\n      :hide-default-footer=\"books.length < 11\"\n      :items=\"books\"\n    >\n      <template v-slot:top>\n        <v-toolbar flat>\n          <v-toolbar-title>\n            <v-icon color=\"medium-emphasis\" icon=\"mdi-book-multiple\" size=\"x-small\" start></v-icon>\n\n            Popular books\n          </v-toolbar-title>\n\n          <v-btn\n            class=\"me-2\"\n            prepend-icon=\"mdi-plus\"\n            rounded=\"lg\"\n            text=\"Add a Book\"\n            border\n            @click=\"add\"\n          ></v-btn>\n        </v-toolbar>\n      </template>\n\n      <template v-slot:item.title=\"{ value }\">\n        <v-chip :text=\"value\" border=\"thin opacity-25\" prepend-icon=\"mdi-book\" label>\n          <template v-slot:prepend>\n            <v-icon color=\"medium-emphasis\"></v-icon>\n          </template>\n        </v-chip>\n      </template>\n\n      <template v-slot:item.actions=\"{ item }\">\n        <div class=\"d-flex ga-2 justify-end\">\n          <v-icon color=\"medium-emphasis\" icon=\"mdi-pencil\" size=\"small\" @click=\"edit(item.id)\"></v-icon>\n\n          <v-icon color=\"medium-emphasis\" icon=\"mdi-delete\" size=\"small\" @click=\"remove(item.id)\"></v-icon>\n        </div>\n      </template>\n\n      <template v-slot:no-data>\n        <v-btn\n          prepend-icon=\"mdi-backup-restore\"\n          rounded=\"lg\"\n          text=\"Reset data\"\n          variant=\"text\"\n          border\n          @click=\"reset\"\n        ></v-btn>\n      </template>\n    </v-data-table>\n  </v-sheet>\n\n  <v-dialog v-model=\"dialog\" max-width=\"500\">\n    <v-card\n      :subtitle=\"`${isEditing ? 'Update' : 'Create'} your favorite book`\"\n      :title=\"`${isEditing ? 'Edit' : 'Add'} a Book`\"\n    >\n      <template v-slot:text>\n        <v-row>\n          <v-col cols=\"12\">\n            <v-text-field v-model=\"formModel.title\" label=\"Title\"></v-text-field>\n          </v-col>\n\n          <v-col cols=\"12\" md=\"6\">\n            <v-text-field v-model=\"formModel.author\" label=\"Author\"></v-text-field>\n          </v-col>\n\n          <v-col cols=\"12\" md=\"6\">\n            <v-select v-model=\"formModel.genre\" :items=\"['Fiction', 'Dystopian', 'Non-Fiction', 'Sci-Fi']\" label=\"Genre\"></v-select>\n          </v-col>\n\n          <v-col cols=\"12\" md=\"6\">\n            <v-number-input v-model=\"formModel.year\" :max=\"currentYear\" :min=\"1\" label=\"Year\"></v-number-input>\n          </v-col>\n\n          <v-col cols=\"12\" md=\"6\">\n            <v-number-input v-model=\"formModel.pages\" :min=\"1\" label=\"Pages\"></v-number-input>\n          </v-col>\n        </v-row>\n      </template>\n\n      <v-divider></v-divider>\n\n      <v-card-actions class=\"bg-surface-light\">\n        <v-btn text=\"Cancel\" variant=\"plain\" @click=\"dialog = false\"></v-btn>\n\n        <v-spacer></v-spacer>\n\n        <v-btn text=\"Save\" @click=\"save\"></v-btn>\n      </v-card-actions>\n    </v-card>\n  </v-dialog>\n</template>\n\n\n<script>\n  export default {\n    data () {\n      return{\n        books:[],\n        formModel: createNewRecord(),\n        isEditing: (() => !!formModel.value.id),\n        headers: [\n          { title: 'Title', key: 'title', align: 'start' },\n          { title: 'Author', key: 'author' },\n          { title: 'Genre', key: 'genre' },\n          { title: 'Year', key: 'year', align: 'end' },\n          { title: 'Pages', key: 'pages', align: 'end' },\n          { title: 'Actions', key: 'actions', align: 'end', sortable: false },\n        ],\n        books: [\n          { id: 1, title: 'To Kill a Mockingbird', author: 'Harper Lee', genre: 'Fiction', year: 1960, pages: 281 },\n          { id: 2, title: '1984', author: 'George Orwell', genre: 'Dystopian', year: 1949, pages: 328 },\n          { id: 3, title: 'The Great Gatsby', author: 'F. Scott Fitzgerald', genre: 'Fiction', year: 1925, pages: 180 },\n          { id: 4, title: 'Sapiens', author: 'Yuval Noah Harari', genre: 'Non-Fiction', year: 2011, pages: 443 },\n          { id: 5, title: 'Dune', author: 'Frank Herbert', genre: 'Sci-Fi', year: 1965, pages: 412 },\n        ],\n      }\n    },\n    methods: {\n      createNewRecord () {\n      return {\n      title: '',\n      author: '',\n      genre: '',\n      year: currentYear,\n      pages: 1,\n      }\n      },\n      add () {\n      formModel.value = createNewRecord()\n      dialog.value = true\n      },\n\n      edit (id) {\n      const found = books.value.find(book => book.id === id)\n      \n      formModel.value = {\n      id: found.id,\n      title: found.title,\n      author: found.author,\n      genre: found.genre,\n      year: found.year,\n      pages: found.pages,\n      }\n      \n      dialog.value = true\n      },\n\n      remove (id) {\n      const index = books.value.findIndex(book => book.id === id)\n      books.value.splice(index, 1)\n      },\n\n      save () {\n      if (isEditing.value) {\n      const index = books.value.findIndex(book => book.id === formModel.value.id)\n      books.value[index] = formModel.value\n      } else {\n      formModel.value.id = books.value.length + 1\n      books.value.push(formModel.value)\n      }\n      \n      dialog.value = false\n      },\n    },\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 310,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "5e1305d89c34daa7",
        "type": "ui-template",
        "z": "3e89576f4214a9fa",
        "d": true,
        "group": "a98d76e6c715903e",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-data-table\n    :headers=\"headers\"\n    :items=\"projects\"\n    item-value=\"projektname\"\n  >\n    <template v-slot:top>\n      <v-toolbar flat>\n        <v-toolbar-title>Projektübersicht</v-toolbar-title>\n        <v-spacer></v-spacer>\n      </v-toolbar>\n    </template>\n\n    <template v-slot:item.actions=\"{ item }\">\n      <v-btn icon=\"mdi-pencil\" @click=\"editItem(item)\"></v-btn>\n    </template>\n  </v-data-table>\n\n  <!-- Bearbeiten-Dialog -->\n  <v-dialog v-model=\"dialog\" max-width=\"600px\">\n    <v-card>\n      <v-card-title>\n        <span class=\"text-h6\">Projekt bearbeiten</span>\n      </v-card-title>\n\n      <v-card-text>\n        <v-text-field v-model=\"editedItem.projektname\" label=\"Projektname\"></v-text-field>\n        <v-text-field v-model=\"editedItem.beschreibung\" label=\"Beschreibung\"></v-text-field>\n      </v-card-text>\n\n      <v-card-actions>\n        <v-spacer></v-spacer>\n        <v-btn text=\"Abbrechen\" @click=\"closeDialog\"></v-btn>\n        <v-btn color=\"primary\" text=\"Speichern\" @click=\"saveItem\"></v-btn>\n      </v-card-actions>\n    </v-card>\n  </v-dialog>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      dialog: false,\n      editedIndex: -1,\n      editedItem: {},\n      projects: [\n        {\n          \"projektname\": \"Website Relaunch\",\n          \"beschreibung\": \"Neue Landingpage für Marketing erstellen\",\n          \"status\": \"In Arbeit\"\n        },\n        {\n          \"projektname\": \"IoT Dashboard\",\n          \"beschreibung\": \"Sensordaten visualisieren\",\n          \"status\": \"Geplant\"\n        },\n        {\n          \"projektname\": \"CRM Migration\",\n          \"beschreibung\": \"Altdaten ins neue System übertragen\",\n          \"status\": \"Abgeschlossen\"\n        }\n      ]\n      ,\n      headers: [\n        { title: \"Projektname\", key: \"projektname\" },\n        { title: \"Beschreibung\", key: \"beschreibung\" },\n        { title: \"Aktionen\", key: \"actions\", sortable: false }\n      ]\n    }\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        if (newMsg && newMsg.payload) {\n          this.projects = [...newMsg.payload]\n        }\n      },\n      deep: true,\n      immediate: true\n    }\n  },\n  methods: {\n    editItem(item) {\n      this.editedIndex = this.projects.indexOf(item)\n      this.editedItem = { ...item }\n      this.dialog = true\n    },\n    closeDialog() {\n      this.dialog = false\n      this.editedItem = {}\n      this.editedIndex = -1\n    },\n    saveItem() {\n      if (this.editedIndex > -1) {\n        Object.assign(this.projects[this.editedIndex], this.editedItem)\n      }\n      this.send({ payload: this.projects }) // Änderungen an Node-RED zurück\n      this.closeDialog()\n    }\n  }\n}\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "711e15d12c5a8e51",
        "type": "ui-event",
        "z": "3e89576f4214a9fa",
        "ui": "c0b5322d72aa242a",
        "name": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "b52b27beabbdf1ab",
                "3340a90c07300f20"
            ]
        ]
    },
    {
        "id": "1b3c21dc309c89df",
        "type": "ui-control",
        "z": "3e89576f4214a9fa",
        "name": "",
        "ui": "c0b5322d72aa242a",
        "events": "all",
        "x": 840,
        "y": 340,
        "wires": [
            [
                "f5fd3c80dc5f0629"
            ]
        ]
    },
    {
        "id": "79e2190a.9bb55",
        "type": "exec",
        "z": "84335037.da5f6",
        "command": "taskkill /IM msedge.exe /F && taskkill /F /IM node.exe",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 880,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e2e2aeaf92f1e63b",
        "type": "ui-template",
        "z": "84335037.da5f6",
        "group": "",
        "page": "",
        "ui": "c0b5322d72aa242a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n        <v-btn @click=\"beenden\" >Beenden</v-btn>\n    </Teleport>\n</template>\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        methods:{\n            beenden() {\n                window.close();\n\n                this.send({\n                payload: \"\"\n                });\n            },\n        },\n        mounted() {\n            this.mounted = true\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "79e2190a.9bb55"
            ]
        ]
    }
]